body {
  font-family: 'Montserrat', sans-serif;
  background: #f0f0f0;

  section {
    text-align: center;

    //Game title styling
    .game--title {
      margin-top: 150px;
      margin-bottom: 30px;
      font-size: 80px;
      font-weight: bold;
      color: #364f6b;
      transition: 0.5s;

      @media screen and (max-width: 600px) {
        margin-top: 30px;
        font-size: 48px;
      }
    }

    //Game type area styling
    .game--type {
      #singlePlayerBtn,
      #twoPlayerBtn {
        background-color: #364f6b;
        width: 150px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 6px;
        margin: 3px;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        transition: 0.3s;
      }

      #singlePlayerBtn:hover,
      #twoPlayerBtn:hover {
        background-color: #fc5185;
      }
    }

    //Game status area styling
    .game--status--desc,
    .game--status {
      display: inline-block;
      color: #364f6b;
      font-weight: 600;
      margin-top: 20px;
    }

    .game--status--desc {
      @media screen and (max-width: 600px) {
        margin-top: 50px;
        margin-bottom: 0;
      }
    }

    //Single player name input form area styling
    #single-inputForm {
      display: none;
      background-color: rgb(255, 255, 255);
      width: 400px;
      margin: 20px auto;
      padding: 15px 0 15px 0;
      border: 1px solid #364f6b36;
      border-radius: 25px;

      @media screen and (max-width: 600px) {
        width: 300px;
      }

      #single-formHead {
        margin: 10px 0;
        font-weight: 600;
      }

      #singleInputForm {
        margin: 20px 0 0 0;

        #single-firstPlayerName {
          width: 250px;
          padding: 12px 20px;
          margin: 8px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        #addSinglePlayerNameBtn {
          background-color: #364f6b;
          width: 150px;
          height: 40px;
          border: none;
          outline: none;
          border-radius: 4px;
          cursor: pointer;
          padding: 6px;
          margin-top: 20px;
          color: #fff;
          font-size: 15px;
          font-weight: 300;
          transition: 0.3s;
        }

        #addSinglePlayerNameBtn:hover {
          background-color: #fc5185;
        }
      }
    }

    //Two player name input form area styling
    #twoPlayer-inputForm {
      display: none;
      background-color: rgb(255, 255, 255);
      width: 400px;
      margin: 20px auto;
      padding: 15px 0 15px 0;
      border: 1px solid #364f6b36;
      border-radius: 25px;

      @media screen and (max-width: 600px) {
        width: 300px;
      }

      #twoPlayer-formHead {
        margin: 10px 0;
        font-weight: 600;
      }

      #twoPlayerInputForm {
        margin: 20px 0 0 0;

        #twoPlayer-firstPlayerName,
        #twoPlayer-secondPlayerName {
          width: 250px;
          padding: 12px 20px;
          margin: 8px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        #addTwoPlayerNameBtn {
          background-color: #364f6b;
          width: 150px;
          height: 40px;
          border: none;
          outline: none;
          border-radius: 4px;
          cursor: pointer;
          padding: 6px;
          margin-top: 20px;
          color: #fff;
          font-size: 15px;
          font-weight: 300;
          transition: 0.3s;
        }

        #addTwoPlayerNameBtn:hover {
          background-color: #fc5185;
        }
      }
    }

    //Main game area styling
    .game-container-main {
      display: none;

      .game--container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 306px;
        margin: 20px auto;
      }
      .cell {
        background-color: #fc5185;
        width: 100px;
        height: 100px;
        border: 2px solid white;
        cursor: pointer;
        line-height: 100px;
        font-size: 60px;
        font-weight: bold;
      }
    }

    //Game restart button styling
    .game--restart {
      display: none;
      margin: 0 auto;
      background-color: #364f6b;
      width: 150px;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 6px;
      color: #fff;
      font-size: 15px;
      font-weight: 300;
      transition: 0.3s;
    }

    .game--restart:hover {
      background-color: #fc5185;
    }
  }
}
